@charset "UTF-8";
.a{
	display: flex;
	flex-direction: cloumn;
	justify-content: space-around;
}
.b{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.c{
	border-style: solid;
  	border-color: black;
	height: 200px;
  	width: 200px;
 }
 .d{
	display: flex;
	justify-content: space-start;
	align-items: flex-start;
}